<nb-layout>

  <nb-layout-header fixed>
    Welcome to the Color game {{player || "Guest"}}!!
    <button nbButton [disabled]="" shape="round" status="primary" (click)="openModal(true)">Login</button>
    <button nbButton [disabled]="" shape="round" status="primary" (click)="openModal(false)">Sign-Up</button>
  </nb-layout-header>

  <nb-layout-column>

    <app-board></app-board>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
